.header {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

.side-menu {
    width: 20%;
    background-color: orange;
}

.main {

    width: 100%;
}

.content {
    background-color: green;
    width: 100%;
}

.article {
    width: auto;
    height: 200px;
    text-align: center;
}

.footer {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}


table {
    align-self: center;
}
